<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head}"></div>

<body>
<div th:replace="~{fragments/header}"></div>
<div class="container d-flex justify-content-center align-items-center my-5 main">
    <div class="card px-4 w-100" style="max-width: 500px;">
        <p class="h4 text-center py-3">Payment Details</p>
        <form method="post" th:action="@{/add-money}" class="row gx-3" th:object="${paymentDto}">
            <!-- Номер карты -->
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label">Card Number</label>
                    <input th:field="*{cardNumber}" class="form-control" type="text"
                           placeholder="1234 5678 435678">
                </div>
            </div>
            <!-- Месяц окончания срока действия -->
            <div class="col-4">
                <div class="mb-3">
                    <label class="form-label">Expiry Month</label>
                    <input th:field="*{expiryMonth}" class="form-control" type="text" placeholder="MM">
                </div>
            </div>
            <!-- Год окончания срока действия -->
            <div class="col-4">
                <div class="mb-3">
                    <label class="form-label">Expiry Year</label>
                    <input th:field="*{expiryYear}" class="form-control" type="text" placeholder="YYYY">
                </div>
            </div>
            <!-- CVV -->
            <div class="col-4">
                <div class="mb-3">
                    <label class="form-label">CVV/CVC</label>
                    <input th:field="*{cvv}" class="form-control" type="password" placeholder="***">
                </div>
            </div>
            <!-- Сумма -->
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label">Total ₽</label>
                    <input th:field="*{amount}" class="form-control" type="number" min="1"
                           oninput="validity.valid||(value='');" placeholder="200 ₽">
                </div>
            </div>
            <!-- Кнопка -->
            <div class="col-12 pb-3">
                <button class="btn btn-primary w-100">
                    Pay <i class="bi bi-arrow-right ms-2"></i>
                </button>
            </div>
        </form>
    </div>
</div>


<div th:replace="~{fragments/footer}"></div>


</body>
</html>